@model AcmeCurso.Domain.Estudante

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Estudante</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sobrenome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Sobrenome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sobrenome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataMatricula, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DataMatricula, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DataMatricula)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div>
        @Html.DisplayFor(model => model.Inscricoes)
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(function () {
            $("#DataMatricula").datepicker({
                dateFormat: 'dd/mm/yy'
            }
            );
        });
    </script>
}
