@model AcmeCurso.Domain.Professor

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Professor</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sobrenome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sobrenome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sobrenome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titulacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulacao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Titulacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CursoId, "CursoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CursoId", String.Empty)
                @Html.ValidationMessageFor(model => model.CursoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataCriacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataCriacao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DataCriacao)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
